In [15]:
#Initial imports
import requests
import pandas as pd
import numpy as np
import datetime as dt
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import json

In [16]:
#Load API keys file
load_dotenv("OUR_KEYS.env")

True

In [17]:
#Set Crypto Compare API keys for crypto data
cryptocompare_api_key = os.getenv("CRYPTOCOMPARE_API_KEY")
type(cryptocompare_api_key)

str

In [18]:
#Set Alpaca API keys for US stock market data
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
type(alpaca_api_key)
type(alpaca_secret_key)

str

In [19]:
#Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [20]:
#Set the tickers to include the S&P500, ARK Innovation, and NASDAQ-100 
tickers = ["SPY", "ARKK", "QQQ"]

#Set the timeframe for data
timeframe = "1D"

#Set the start & end dates
start_date = pd.Timestamp("2017-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("today").isoformat()

In [21]:
#Request the stock data from Alpaca
stock_data_df = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date,
    limit=1000
).df

stock_data_df

                             ARKK                                       \
                             open     high      low   close     volume
time
2017-11-21 00:00:00-05:00   36.13   36.520   36.080   36.43   182146.0
2017-11-22 00:00:00-05:00   36.57   36.780   36.421   36.71   266915.0
2017-11-24 00:00:00-05:00   36.93   37.030   36.797   36.88   222437.0
2017-11-27 00:00:00-05:00   37.14   37.410   37.010   37.25   287691.0
2017-11-28 00:00:00-05:00   37.45   37.750   37.340   37.66   407482.0
...                           ...      ...      ...     ...        ...
2021-11-08 00:00:00-05:00  121.69  124.300  121.610  123.40  3266167.0
2021-11-09 00:00:00-05:00  123.91  124.220  119.650  120.50  5570377.0
2021-11-10 00:00:00-05:00  118.44  120.785  115.200  116.65  7568712.0
2021-11-11 00:00:00-05:00  118.28  118.780  117.100  117.24  3826637.0
2021-11-12 00:00:00-05:00  117.77  118.520  116.710  118.50  3522223.0

                              QQQ                                         SPY  \
                             open    high     low   close      volume    open
time
2017-11-21 00:00:00-05:00     NaN     NaN     NaN     NaN         NaN     NaN
2017-11-22 00:00:00-05:00     NaN     NaN     NaN     NaN         NaN     NaN
2017-11-24 00:00:00-05:00  155.86  156.31  155.76  156.25   5770066.0  260.28
2017-11-27 00:00:00-05:00  156.20  156.56  155.83  156.19  15156409.0  260.41
2017-11-28 00:00:00-05:00  156.52  156.69  155.70  156.61  17431023.0  260.76
...                           ...     ...     ...     ...         ...     ...
2021-11-08 00:00:00-05:00  398.57  399.62  397.40  398.06  26737662.0  469.70
2021-11-09 00:00:00-05:00  399.16  399.57  393.92  395.28  48114670.0  469.32
2021-11-10 00:00:00-05:00  392.47  395.36  387.53  389.49  49753283.0  465.58
2021-11-11 00:00:00-05:00  392.57  392.75  390.24  390.62  28990905.0  465.21
2021-11-12 00:00:00-05:00  391.77  395.25  390.13  394.72  30500126.0  465.12


                             high       low   close      volume
time
2017-11-21 00:00:00-05:00     NaN       NaN     NaN         NaN
2017-11-22 00:00:00-05:00     NaN       NaN     NaN         NaN
2017-11-24 00:00:00-05:00  260.48  260.1600  260.34  16323543.0
2017-11-27 00:00:00-05:00  260.75  260.0000  260.26  29732937.0
2017-11-28 00:00:00-05:00  262.90  258.4000  262.85  57806500.0
...                           ...       ...     ...         ...
2021-11-08 00:00:00-05:00  470.23  468.2031  468.97  38945705.0
2021-11-09 00:00:00-05:00  469.57  465.8800  467.38  47198095.0
2021-11-10 00:00:00-05:00  467.38  462.0400  463.63  63500032.0
2021-11-11 00:00:00-05:00  465.29  463.7500  463.81  31757893.0
2021-11-12 00:00:00-05:00  467.86  464.1100  467.26  44677612.0

[1002 rows x 15 columns]

In [37]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices of KO and TSLA
df_closing_prices["SPY"] = df_ticker["SPY"]["close"]
df_closing_prices["ARKK"] = df_ticker["ARKK"]["close"]
df_closing_prices["QQQ"] = df_ticker["QQQ"]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Compute daily returns
df_daily_returns = df_closing_prices.pct_change().dropna()

# Display sample data
df_daily_returns.head(10)

NameError: name 'df_ticker' is not defined