# This is the code for the NFT Market Analysis Project

In [91]:
#Initial imports
import requests
import pandas as pd
import numpy as np
import datetime as dt
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import json

In [101]:
#Load API keys file
load_dotenv("OUR_KEYS.env")

True

In [102]:
#Set OpenSea and Coinranking API keys for NFT data
opensea_api_key = os.getenv("OPENSEA_API_KEY")
coinranking_api_key = os.getenv("COINRANKING_API_KEY")
type(opensea_api_key)
type(coinranking_api_key)

str

In [112]:
#Set Crypto Compare API keys for crypto data
cryptocompare_api_key = os.getenv("CRYPTOCOMPARE_API_KEY")
type(cryptocompare_api_key)

str

In [104]:
#Set Alpaca API keys for US stock market data
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
type(alpaca_key)
type(alpaca_secret_key)

str

### Pull Alpaca data using API

In [105]:
#Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [106]:
#Set the tickers to include the S&P500, ARK Innovation, and NASDAQ-100 
tickers = ["SPY", "ARKK", "QQQ"]

#Set the timeframe for data
timeframe = "1D"

#Set the start & end dates
start_date = pd.Timestamp("2017-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("today").isoformat()

In [107]:
#Request the stock data from Alpaca
stock_data_df = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date,
    limit=1000
).df

stock_data_df

                             ARKK                                       \
                             open     high      low   close     volume
time
2017-11-20 00:00:00-05:00   35.71   35.850   35.600   35.81   204211.0
2017-11-21 00:00:00-05:00   36.13   36.520   36.080   36.43   182146.0
2017-11-22 00:00:00-05:00   36.57   36.780   36.421   36.71   266915.0
2017-11-24 00:00:00-05:00   36.93   37.030   36.797   36.88   222437.0
2017-11-27 00:00:00-05:00   37.14   37.410   37.010   37.25   287691.0
...                           ...      ...      ...     ...        ...
2021-11-05 00:00:00-04:00  123.96  124.501  121.020  122.19  5610514.0
2021-11-08 00:00:00-05:00  121.69  124.300  121.610  123.40  3266167.0
2021-11-09 00:00:00-05:00  123.91  124.220  119.650  120.50  5570377.0
2021-11-10 00:00:00-05:00  118.44  120.785  115.200  116.65  7568712.0
2021-11-11 00:00:00-05:00  118.28  118.780  117.100  117.24  3826637.0

                              QQQ                                       \
                             open    high      low   close      volume
time
2017-11-20 00:00:00-05:00     NaN     NaN      NaN     NaN         NaN
2017-11-21 00:00:00-05:00     NaN     NaN      NaN     NaN         NaN
2017-11-22 00:00:00-05:00  155.63  155.84  155.341  155.69  12170251.0
2017-11-24 00:00:00-05:00  155.86  156.31  155.760  156.25   5770066.0
2017-11-27 00:00:00-05:00  156.20  156.56  155.830  156.19  15156409.0
...                           ...     ...      ...     ...         ...
2021-11-05 00:00:00-04:00  400.04  400.99  397.160  398.57  37799298.0
2021-11-08 00:00:00-05:00  398.57  399.62  397.400  398.06  26737662.0
2021-11-09 00:00:00-05:00  399.16  399.57  393.920  395.28  48114670.0
2021-11-10 00:00:00-05:00  392.47  395.36  387.530  389.49  49753283.0
2021-11-11 00:00:00-05:00  392.57  392.75  390.240  390.62  28990905.0

                              SPY
                             open    high       low   close      volume
time
2017-11-20 00:00:00-05:00     NaN     NaN       NaN     NaN         NaN
2017-11-21 00:00:00-05:00     NaN     NaN       NaN     NaN         NaN
2017-11-22 00:00:00-05:00  260.03  260.15  259.5700  259.77  27601406.0
2017-11-24 00:00:00-05:00  260.28  260.48  260.1600  260.34  16323543.0
2017-11-27 00:00:00-05:00  260.41  260.75  260.0000  260.26  29732937.0
...                           ...     ...       ...     ...         ...
2021-11-05 00:00:00-04:00  469.28  470.65  466.9200  468.49  56119290.0
2021-11-08 00:00:00-05:00  469.70  470.23  468.2031  468.97  38945705.0
2021-11-09 00:00:00-05:00  469.32  469.57  465.8800  467.38  47198095.0
2021-11-10 00:00:00-05:00  465.58  467.38  462.0400  463.63  63500032.0
2021-11-11 00:00:00-05:00  465.21  465.29  463.7500  463.81  31757893.0

[1002 rows x 15 columns]

### Pull Coinbase data using API

In [108]:
#Create Ethereum API URL
eth_url = "https://min-api.cryptocompare.com/data/v2/histoday?fsym=ETH&tsym=USD&limit=2000"

In [111]:
#Request historical Ethereum data from Crypto Compare
eth_response_data = requests.get(eth_url).json()

#print(json.dumps([eth_response_data], indent=4))

### Pull OpenSea data using API

In [141]:
collections = ["doodles-official", "cryptopunks"]

In [143]:
#Create OpenSea API URL
opensea_url = f"https://api.opensea.io/api/v1/collection/{collections}/stats"


for x in collections:
    opensea_response_data = requests.request("GET", opensea_url, headers=headers).json()
    
print(json.dumps([opensea_response_data], indent=4))

#opensea_url = "https://api.opensea.io/api/v1/collection/doodles-official/stats"

#headers = {"Accept": "application/json"}



def get_data_by_collection(collection):
    opensea_url = f"https://api.opensea.io/api/v1/collection/{collections}/stats"
    return json.dumps([opensea_response_data], indent=4)


listOfData = []
for c in collection_list:
    data = get_data_by_collection(c)
    listOfData.append(data)

[
    {
        "stats": {
            "one_day_volume": 95.7194,
            "one_day_change": -0.10883319967873373,
            "one_day_sales": 62.0,
            "one_day_average_price": 1.5438612903225806,
            "seven_day_volume": 957.131370778638,
            "seven_day_change": -0.21242555817156572,
            "seven_day_sales": 603.0,
            "seven_day_average_price": 1.5872825386047065,
            "thirty_day_volume": 15932.6220665034,
            "thirty_day_change": 0.0,
            "thirty_day_sales": 10506.0,
            "thirty_day_average_price": 1.516525991481382,
            "total_volume": 15932.6220665031,
            "total_sales": 10506.0,
            "total_supply": 9998.0,
            "count": 9998.0,
            "num_owners": 4981,
            "average_price": 1.5165259914813536,
            "num_reports": 1,
            "market_cap": 15869.650820969855,
            "floor_price": 1.15
        }
    }
]

In [136]:
#Request historical Ethereum data from Crypto Compare

opensea_response_data = requests.request("GET", opensea_url, headers=headers).json()
print(json.dumps([opensea_response_data], indent=4))

[
    {
        "stats": {
            "one_day_volume": 95.7194,
            "one_day_change": -0.10883319967873373,
            "one_day_sales": 62.0,
            "one_day_average_price": 1.5438612903225806,
            "seven_day_volume": 957.131370778638,
            "seven_day_change": -0.21242555817156572,
            "seven_day_sales": 603.0,
            "seven_day_average_price": 1.5872825386047065,
            "thirty_day_volume": 15932.6220665034,
            "thirty_day_change": 0.0,
            "thirty_day_sales": 10506.0,
            "thirty_day_average_price": 1.516525991481382,
            "total_volume": 15932.6220665031,
            "total_sales": 10506.0,
            "total_supply": 9998.0,
            "count": 9998.0,
            "num_owners": 4981,
            "average_price": 1.5165259914813536,
            "num_reports": 1,
            "market_cap": 15869.650820969855,
            "floor_price": 1.15
        }
    }
]